html,body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(26, 26, 26);
}

h1 {
    color: #f72585;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}

.btn-color {
    background-color: #f72585;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover{
    cursor: pointer;
}

.btn:focus {
    outline: none;
}